<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	
	<title>FWIP Labs|{% block title %}{% endblock %}</title>

	<head>
		<div class = "container-fluid">
			<div class = "row" style="height:100px">
				<br/>
				<div class= "col-xs-10 col-xs-offset-1 " style="background-color:#7f088d">
					<div>
						<h1 style="color:white;" align="right">Fwip-Labs</h1>
					</div>
				</div>
			</div>
	</head>
    	<body>
	       {% block content %}{% endblock %}
 
    </body>
</html>	
