{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
{% load staticfiles %}

<center>
	<div class = "container-fluid" style = "height:100%;width:100%">
		<br/><br/>
		<p>Click on the Add to get Instant Free WIFI</p>
		<a href = "http://www.pepsico.com/"><img src="{% static "add2.jpg" %}" alt="My image"/ style = "height:80%;width:100%"></a>
		<br/><br/>	
		<br/><br/>	
		<!--<a href="{% url 'ads'%}"><font size="5">Register for Free WIFI --></font></a>	
	</div>
</center>


{% endblock %}

