{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
{% load staticfiles %}

<video width="400" align="center" controls autoplay>
  		<source src="{% static "eg.mp4" %}" type="video/mp4">
  		
 </video>
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" />
    </form>
   
{% endblock %}
